{% extends 'polls/base.html' %}
{% load static  %}
{% block extra_head_content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Questions</h4>
            <font id="error" color="red" hidden>This is some text!</font>
        </div>
        <form action="/add_question/" method="POST"  role="form" id="question_form" autocomplete="off" onsubmit=submitForm(event)>
            {% csrf_token %}
            <div class="modal-body" id="adder">
                <label for="question_text"> Question: </label>
                <input id="question_text" type="text" name="question_text" value="{{ current_name }}">
                <div class="input-group">
                    <label for="number_choices"> Number: </label>
                        <span class="input-group-btn">
                        <button id="agr_btn_minus" class="btn btn-white btn-minus" type="button" style="float: left">-</button></span>
                    <input id="number" type="text" class="form-control no-padding add-color text-center height-20" value="1" style="float: left" readonly>
                        <span class="input-group-btn">
                        <button id="agr_btn_plus" class="btn btn-red btn-plus" type="button">+</button></span>
                </div>
                <p></p>
                <label for="choices_text"> Choices: </label>
                <input id="choices_text" type="text" name="choices_text" value="{{ current_name }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submit">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}