{% extends 'monitor/base.html' %}
{% block 'content' %}

<div class="navbar-fixed-top">
    <div class="row">
        <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">
                    <a class="brand" style="padding: 4px">{% load static %}<img src="{% static "img/title.png" %}" alt="title" width="32" height="32"></a>
                    <ul class="nav">
                    <li class="active" ><a>Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown" data-toggle="dropdown">Editor<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a class="btn-large-link" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Node adding</a></li>
                        </ul>
                    </li>
                    </ul>
                    <ul class="pull-right nav">
                    {% if user.is_authenticated %}
                    <p class="navbar-text pull-left">Welcome, {{ user.username }}. Thanks for logging in.</p>
                            {% else %}
                    <p class="navbar-text pull-left">Please log in.</p>
                            {% endif %}
                    <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown">Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a class="btn-large-link" data-toggle="modal" id ='alogin' data-target="#Modal" data-whatever="@mdo">Login in</a></li>
                    <li><a class="btn-large-link" data-toggle="modal" id="alogout" data-target="#logout" data-whatever="@mdo">Log out</a></li>
                    </ul>
                    </li>
                      </ul>
            </div>
        </div>
    </div>
</div>
</div>

<br></br>
<br></br>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>HOSTNAME</th>
        <th>IP</th>
        <th>STATE</th>
        <th>PING</th>
        <th>DELETE</th>
    </tr>
    {% for item in nodes %}
    <tr>
        <td>{{ item.hostname }}</td>
        <td>{{ item.ip }}</td>
        {% with item.verbose_state as status %}
        <td><span class="label {% if status == 'alive' %}label-success {% else %} label-important {% endif %}">{{ status }}</span></td>
        {% endwith %}
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="node_to_ping" value="{{ item.id }}">
                <input type="submit" class="btn btn-mini" value="ping node">
              </form>

            <form method="POST">
                <td>
                {% csrf_token %}
                {% if user.is_superuser %}
                <input type="hidden" name="node_to_delete" id="node_deletor" value="{{ item.id }}">
                <input type="submit" class="btn btn-mini" id="node_deletor" value="node delete" onclick="return confirm('Are you sure?')">
                {% else %}
                <a type="submit" class="btn btn-mini" id="error" value="node delete" style="height: 21px">
                <p class="entry" rel="popover" data-original-title="Warning!">node delete</p></a>
                {% endif %}
                </td>
             </form>
        </td>
    </tr>
    {% endfor %}
</table>
    <tr>
     <th>
{#<button type="button" id="open_modal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open node editor</button>#}
     </th>
</tr>

{#dropdown list#}
{#<form method="POST">#}
{#{% csrf_token %}#}
{#{% for item in form %}#}
{#    {{ item }}#}
{#{% endfor %}#}
{#<input type="submit" value="Submit">#}
{#</form>#}

{#Modal page Node Editor#}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            </div>
            <form method="POST" role="form" id="aaa" autocomplete="off" placeholder="default text">
                <div id="modal-body-wrapper">
                    {% include 'monitor/node_form.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <button type="submit" class="btn btn-primary" id="submit">Save</button>
                </div>
         </form>
      </div>
    </div>
  </div>
</div>

{#Modal page login#}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="LoginIn" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            </div>
            <form method="POST" role="form" id="loginIn" autocomplete="off" placeholder="default text">
                <div id="modal-body-wrapped">
                    {% include 'monitor/editor.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeIn">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitLogin">Log In</button>
                </div>
         </form>
      </div>
    </div>
  </div>
</div>

{#{Logout}#}
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="LoginIn" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            </div>
            <form method="POST" role="form" id="loginout" autocomplete="off" placeholder="default text">
                <div id="modal-body-wrappedd">
                    <div class="modal-body" id='loginModalbody'>
                            {% csrf_token %}
                            <div class="control-group id = "control_group">
                            <label class="control-label">{{ usr_cred.label }}</label>
                            <div class="controls" align="center">
                                <strong>{{ user }}, are you sure?</strong>
                      </div>
                     </div>
                   </div>
                 </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="loselog">Close</button>
                <button type="submit" class="btn btn-primary" id="submitLogout">Log out</button>
                </div>
         </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function id(){
        jQuery($('.modal-dialog')).html('<div class="modal-body" id="a1"><h3 align="center">Node adding</h3><div style="height:190px"><i style="position: absolute;display: block;top: 35%;left: 45%;" class="fa fa-spinner fa-spin fa-5x" ></i></div></div>').show();
    }
    $("#aaa").on('submit', function(event){
        event.preventDefault()
        var obj = {};
        $.each(JSON.parse(JSON.stringify($('#aaa').serializeArray())), function (key, value) {
            obj[value.name] = value.value;
        });
        $.ajax({
            type: "POST",
            url: "{{ url.get_full_path }}",
            data: obj
        }).done(function(data, jqXHR, textStatus){
                    if (data=='host_saved') {
                        id();
                        setTimeout(function(){window.location.replace("{{ url.get_full_path }}")}, 500)
                   } else {
                        $('#modal-body-wrapper').html(data);
                    }
                });
        });
</script>


<script type="text/javascript">
    function id_y(){
        jQuery($('.modal-dialog')).html('<div class="modal-body" id="a1"><h3 align="center">Logging</h3><div style="height:190px"><i style="position: absolute;display: block;top: 35%;left: 45%;" class="fa fa-spinner fa-spin fa-5x" ></i></div></div>').show();
    }
    $("#loginIn").on('submit', function(event){
        event.preventDefault()
        var obj = {};
        $.each(JSON.parse(JSON.stringify($('#loginIn').serializeArray())), function (key, value) {
            obj[value.name] = value.value;
        });
        $.ajax({
            type: "POST",
            url: "{{ url.get_full_path }}",
            data: obj
        }).done(function(data, jqXHR, textStatus){
                    if (data=='send_back') {
                        id_y();
                        setTimeout(function(){window.location.replace("{{ url.get_full_path }}")}, 500)
                   } else {
                        $('#modal-body-wrapped').html(data);
                        $('#control_group, id_username').removeClass('control-group ').addClass('control-group error').show();
                        $('#id_errors').removeClass('help-inline hidden').addClass('help-inline ');
                        $('#id_errors-1').html('<ul class="errorlist"><li>Incorrect Username</li></ul>');
                        $('#id_errors-2').html('<ul class="errorlist"><li>Incorrect Password</li></ul>');
                    }
                });
    });
</script>

<script type="text/javascript">
    function id_x(){
        jQuery($('.modal-dialog')).html('<div class="modal-body" id="a1"><h3 align="center">Logging out</h3><div style="height:190px"><i style="position: absolute;display: block;top: 35%;left: 45%;" class="fa fa-spinner fa-spin fa-5x" ></i></div></div>').show();
    }
    $("#logout").on('submit', function(event){
        var obj = {};
        $.each(JSON.parse(JSON.stringify($('#loginout').serializeArray())), function (key, value) {
            obj[value.name] = value.value;
            obj['logout'] = 1;
        });
        event.preventDefault()
        $.ajax({
            type: "POST",
            url: "{{ url.get_full_path }}",
            data: obj
        }).done(function(data, jqXHR, textStatus){
                    if (data=='logout') {
                        id_x();
                        setTimeout(function(){window.location.replace("{{ url.get_full_path }}")}, 500)
                   } else {
                        $('#modal-body-wrappedd').html(data);
                    }
                });
        });
</script>
{#login/logout <a> buttons blocking#}
<script type="text/javascript">
        {% if user.is_authenticated %}
        document.getElementById("alogin").disabled = true;
        $("#alogin").css({ opacity: 0.5 });
        {% else %}
        document.getElementById("alogout").disabled = true;
        $("#alogout").css({ opacity: 0.5 });
        {% endif %}
</script>

{#error popover for node deleting #}
<script type="text/javascript">
$('p.entry').each(function (){
        var i = $(this);
        $(i).bind('mouseenter', function(){
            i.popover({
                html:true,
                title:i.html(),
                content:'Unauthorized user'
            }).popover('show');
        });
        $(i).bind('mouseleave', function(){
            i.popover('hide');
        });
    });
</script>
{% endblock %}