{% extends 'forum/base.html' %}
{% load static %}
{% block extra_head_content %}
    <div class="container" style="margin-top: 35px">
        <div class="page-header page-heading">
            <h1 class="pull-left">Forums</h1>
            <ol class="breadcrumb pull-right where-am-i">
                {% if not request.user.username %}
                    <li><a href="/accounts/login/?next={{ request.path }}">Login</a></li>
                {% else %}
                    <li><span>Authorized as <strong><span><a href="{% url 'forum:user_profile' user.id %}">{{ request.user.username|upper }}</a></span></strong>. </span><a
                            href="accounts/logout/?next=/accounts/login/"> Logout</a></li>

                {% endif %}
            </ol>
            <div class="clearfix"></div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="cell-stat"></th>
                <th>
                    <h3>Open forums</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% if forum_objects_list %}
                {% for forum in forum_objects_list %}
                    <tr>
                    <td class="text-center" align="center"><i
                            class="fa fa-question fa-2x text-primary">{{ forloop.counter }}</i></td>
                    <td>
                        <h4><a href="{% url 'forum:topic' forum.id %}">{{ forum.title }}</a><br>
                            <small>{{ forum.description }}</small>
                        </h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm" align="center"><a
                            href="#">{{ forum.topic_number }}</a></td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">{{ forum.post_number }}</a></td>
                    <td class="hidden-xs hidden-sm">by <a href="#">{{ forum.creator }}</a><br>
                        <small><i class="fa fa-clock-o"></i>{{ forum.count }}{{ forum.created }}</small>
                    </td>
                {% endfor %}
            {% else %}
            <td colspan="4" class="center">No forums have been added yet.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

