{% extends 'forum/base.html' %}
{% load static %}
{% block extra_head_content %}
    <div class="container" style="margin-top: 35px">
        <div class="page-header page-heading">
            <h1 class="pull-left">Topics</h1>
            <ol class="breadcrumb pull-right where-am-i">
                {% if not request.user.username %}
                    <li><a href="/accounts/login/?next={{ request.path }}">Login</a></li>
                {% else %}
                    <li><span>Authorized as <strong>{{ request.user.username|upper }}</strong>. </span><a
                            href="/accounts/logout/?next=/accounts/login/?next={{ request.path }}"> Logout</a></li>
                {% endif %}
            </ol>
            <div class="clearfix"></div>
        </div>
        {% if topic %}
            <p class="lead">{{ topic.forum.title }}</p>
            <table class="table table-bordered">
            <thead>
            <tr>
                <th class="cell-stat"></th>
                <th>
                    <h3>Open topics</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm" style="text-align: right">Posts</th>
                <th class="cell-stat-2x hidden-xs hidden-sm" style="text-align: right">Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for top in topic.forum.topic_set.all %}
                <tr>
                <td class="text-center"><i class="fa fa-question fa-2x text-primary">{{ forloop.counter }}</i></td>
                <td>
                    <h4><a href="{% url 'forum:posts' top.id %}">{{ top.title }}</a><br>
                        <small>{{ top.description }}</small>
                    </h4>
                <td class="text-center hidden-xs hidden-sm" style="text-align: right"><a
                        href="#">{{ top.post_set.count }}</a></td>
                <td class="hidden-xs hidden-sm" style="text-align: right">by <a href="#">{{ top.creator }}</a><br>
                    <small><i class="fa fa-clock-o"></i>{{ top.count }}{{ top.created }}</small>
                </td>
            {% endfor %}
        {% else %}
        <td colspan="4" class="center">No topics have been added yet.</td>
        </tr>
        {% endif %}
        </tbody>
        </table>
    </div>
{% endblock %}