{% extends 'forum/base.html' %}
{% load static %}
{% block extra_head_content %}
<form action="#" role="form" method="post" id="likes_form">
    {% csrf_token %}
    <div class="form-group">
            <label for="post_id" class="hidden">
            <input id="post_id" name="post_id" type="hidden" value="{{ post.id }}"></label>
        </div>
    <button onclick="submitLike(event)" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </button>
</form>
{% endblock %}