{% extends 'forum/base.html' %}
{% load static %}
{% block extra_head_content %}
    <div class="container" style="margin-top: 35px">
        <div class="page-header page-heading">
            <h1 class="pull-left">Posts</h1>
            <ol class="breadcrumb pull-right where-am-i">
                {% if not request.user.username %}
                    <li><a href="/accounts/login/?next={{ request.path }}">Login</a></li>
                {% else %}

                    <li><span>Authorized as<strong><a

                            href="{% url 'forum:user_profile' user.id %}"> {{ request.user.username| upper }}</a></strong>.
                    </span>
                        <a href="/accounts/logout/?next=/accounts/login/?next={{ request.path }}"> Logout</a></li>
                {% endif %}
            </ol>
            <div class="clearfix"></div>
        </div>
        {% if posts %}
            {% for post in posts %}
                <div class="container">
                <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <h5>
                            <span>Post by <strong>{{ post.creator | upper }}.</strong> {{ post.created }}</span>
                            <span class="label label-danger">{{ user.email }}</span>
                            {% if post.creator.image %}<img src="{{ post.creator.image.url }}">{% endif %}

                        </h5>
                    </td>
                    <td width="80%">{{ post.body }}</td>
                <tr>
                    <td align="center"><strong> <span class="label label-danger">{{ post.topic.forum.title }}</span>
                        <span class="label label-primary">{{ post.topic.title }}</span></strong></td>
                    <td>

                        <a name="like" id="{{ post.id }}">
                            <span onclick="return false" class="glyphicon glyphicon-heart"
                                    {% if post.like.all %} style="color: red" {% else %} style="color: blue"{% endif %}
                                  aria-hidden="false"
                                  title="like" id="{{ post.id }}"></span>
                        {% for like in post.like.all %}
                            <span class="label label-primary">{{ like }}</span>
                        {% endfor %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pager">
                {% if page.has_previous %}
                    <li class="previous"><a href="?page={{ 1 }}"><span aria-hidden="true">&larr;</span> First page</a>
                    </li>
                    <li class="previous"><a href="?page={{ page.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li><a href="#"><span>{{ page.number }} from {{ page.paginator.num_pages }}</span></a>
                </li>
                {% if page.has_next %}
                    <li class="next"><a href="?page={{ page.paginator.num_pages }}">Last Page<span
                            aria-hidden="true">&rarr;</span></a></li>
                    <li class="next"><a href="?page={{ page.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if page.number == page.paginator.num_pages %}
            {% include "forum/submit_form.html" %}
        {% endif %}K
        </div>
    </div>
{% endblock %}